/.idea/
/.vite/
/.vscode/
/bootstrap/ssr/
/docs/
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/debugbar/
/storage/pail/
/storage/*.key
/vendor/

/_ide_helper_models.php
/_ide_helper.php
/.env
/composer.lock
/pnpm-lock.yaml
